In [2]:
import os
import pandas as pd
import numpy as np
from pybaseball import batting_stats

In [34]:
START = 1998
END = 2023

In [35]:
batting = batting_stats(START, END, qual=200)

In [36]:
batting = batting.groupby("IDfg", group_keys=False).filter(lambda x: x.shape[0] > 1)

In [37]:
batting

,IDfg,Season,Name,Team,Age,G,AB,PA,H,1B,...,maxEV,HardHit,HardHit%,Events,CStr%,CSW%,xBA,xSLG,xwOBA,L-WAR
0,1109,2002,Barry Bonds,SFG,37,143,403,612,149,70,...,NaN,NaN,NaN,0,0.127,0.191,NaN,NaN,NaN,12.7
2,1109,2001,Barry Bonds,SFG,36,153,476,664,156,49,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,12.5
1,1109,2004,Barry Bonds,SFG,39,147,373,617,135,60,...,NaN,NaN,NaN,0,0.124,0.164,NaN,NaN,NaN,11.9
21,15640,2022,Aaron Judge,NYY,30,157,570,696,177,87,...,118.4,246.0,0.609,404,0.169,0.287,NaN,NaN,NaN,11.2
33,13611,2018,Mookie Betts,BOS,25,136,520,614,180,96,...,110.6,217.0,0.500,434,0.220,0.270,NaN,NaN,NaN,10.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8379,595,1999,Mike Caruso,CHW,22,136,529,564,132,115,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,-2.7
8226,319,2011,Adam Dunn,CHW,31,122,415,496,66,39,...,NaN,0.0,NaN,0,0.169,0.295,NaN,NaN,NaN,-2.9
8584,620,2002,Neifi Perez,KCR,29,145,554,585,131,104,...,NaN,NaN,NaN,0,0.130,0.187,NaN,NaN,NaN,-2.9
8585,728,1999,Cristian Guzman,MIN,21,131,420,456,95,79,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,-3.1
1331,2113,2008,Ryan Doumit,PIT,27,116,431,465,137,88,...,NaN,0.0,NaN,0,0.144,0.231,NaN,NaN,NaN,-3.4

In [38]:
def next_season(player):
    player = player.sort_values("Season")
    player["Next_WAR"] = player["WAR"].shift(-1)
    return player

batting = batting.groupby("IDfg", group_keys=False).apply(next_season)

In [39]:
batting[["Name", "Season", "WAR", "Next_WAR"]]

                 Name  Season  WAR  Next_WAR
6927  Alfredo Amezaga    2006  1.1       2.0
6259  Alfredo Amezaga    2007  2.0       1.2
6549  Alfredo Amezaga    2008  1.2       NaN
3661  Garret Anderson    1998  0.6       2.4
2807  Garret Anderson    1999  2.4       2.2
...               ...     ...  ...       ...
7252       Walt Weiss    1999 -0.6       0.9
5959       Walt Weiss    2000  0.9       NaN
2895      Devon White    1998  3.7       0.5
4054      Devon White    1999  0.5       0.8
2604      Devon White    2001  0.8       NaN

[8366 rows x 4 columns]

In [40]:
null_count = batting.isnull().sum()

null_count

IDfg           0
Season         0
Name           0
Team           0
Age            0
            ...
xBA         8366
xSLG        8366
xwOBA       8366
L-WAR          0
Next_WAR    1408
Length: 321, dtype: int64